<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'"
	xmlns:vectorlink="http://vectorlink.abt.com"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	xmlns:brewer="http://brewer.algaworks.com">
	
<head>
	<title>Pesquisa de Bairros</title>
</head>

<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-10">
					<h1>Pesquisa de Bairros</h1>
				</div>
				
				<div class="col-sm-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-success" th:href="@{/bairros/novo}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Adicionar Novo</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="GET" th:object="${villageFilter}" th:action="@{/bairros}" autocomplete="off">
		
		 <div class="row">	
			 
			     <div class="col-sm-4  form-group" vectorlink:classforerror="district">
			      <label for="district" class="control-label" >Distrito</label>
			       <select id="district" class="form-control" th:field="*{district}" >
			         <option value="">Todos</option> 
			         <option th:each="distrito : ${districts}" th:value="${distrito.id}" th:text="${distrito.name}"></option>
			       </select> 
			    </div> 
				
			    <div class="col-sm-4  form-group" vectorlink:classforerror="operationalSite">
			      <label for="localidade" class="control-label" >Base Operacional</label>
			      <div class="bw-field-action">
			       <input type="hidden" id="inputHiddenOpSiteSelecionada" th:value="*{operationalSite} != null ? *{operationalSite.id}"/>
			       <select id="operationalSite" class="form-control" data:url="@{/opsites}" th:field="*{operationalSite}">			         
			     
			       </select> 
			       <div class="bw-field-action__icon js-img-Loading" style="display: none">
			          <img th:src="@{/images/mini-loading.gif}"/>		       
			       </div>
			       </div>
			    </div> 
			    
			    <div class="col-sm-4  form-group" vectorlink:classforerror="locality">
			      <label for="localidade" class="control-label" >Localidade</label>
			      <div class="bw-field-action">
			       <input type="hidden" id="inputHiddenLocalidadeSelecionada" th:value="*{locality} != null ? *{locality.id}"/>
			       <select id="localidade" class="form-control" data:url="@{/localidades}" th:field="*{locality}">			         
			     
			       </select> 
			       <div class="bw-field-action__icon js-img-Loading" style="display: none">
			          <img th:src="@{/images/mini-loading.gif}"/>		       
			       </div>
			       </div>
			    </div> 
			  </div>  
		
			<div class="row">
				<div class="form-group  col-sm-12">
					<label class="control-label" for="nome">Nome</label>
					<input type="text" class="form-control" id="nome" autofocus="autofocus" th:field="*{name}"/>
				</div>
			</div>
			
			

			
			<button type="submit" class="btn  btn-primary">Pesquisar</button>
		</form>
		
		<div class="table-responsive  bw-tabela-simples">
			<table class="table  table-hover">
				<thead>
					<tr>
						<th>Distrito</th>
						<th>Base Operacional</th>
						<th>Localidada</th>
						<th>Nome</th>
						
						
						<th>Accoes</th>
						
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="bairro : ${pagina.conteudo}">
						<td th:text="${bairro.locality.operationalSite.district.name}">1</td>
						<td th:text="${bairro.locality.operationalSite.name}">1</td>
						<td th:text="${bairro.locality.name}">1</td>	
						<td th:text="${bairro.name}"></td>
											
						<td>
							<!-- <a class="btn  btn-link  btn-xs js-tooltip" title="Editar"
							    th:href="@{/bairros/{codigo}(codigo=${bairro.codigo})}" > 
								<i class="glyphicon glyphicon-pencil"></i>
							</a>
							<a class="btn  btn-link  btn-xs js-tooltip js-exclusao-btn" title="Excluir" href="#"
							  data:url="@{/bairros/{codigo}(codigo=${bairro.codigo})}"
							  data:objecto="${bairro.nome}">
							    <i class="glyphicon glyphicon-remove"></i>
							</a> -->
						</td>
					</tr>
					<tr th:if="${pagina.vazia}">
						<td colspan="3">Nenhuma localidade encontrada</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="col-sm-12  text-center" th:if="${not pagina.vazia}">
			<nav>
				<ul class="pagination  pagination-sm" th:with="paginaAtual=${pagina.atual}">
					<li th:class="${pagina.primeira} ? disabled">
						<a th:href="${pagina.urlParaPagina(paginaAtual - 1)}" th:remove="${pagina.primeira} ? tag"><span>&laquo;</span></a>
					</li>
					<th:block th:each="p : ${#numbers.sequence(1, pagina.total)}" th:with="numeroPagina=${p - 1}">
						<li th:class="${paginaAtual == numeroPagina} ? active">
							<a th:href="${pagina.urlParaPagina(numeroPagina)}">[[${p}]]</a>
						</li>
					</th:block>
					
					<li th:class="${pagina.ultima} ? disabled">
						<a th:href="${pagina.urlParaPagina(paginaAtual + 1)}" th:remove="${pagina.ultima} ? tag"><span>&raquo;</span></a>
					</li>
				</ul>
			</nav>
		</div>
		
	</div>

</section>
</body>
<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/vectorlink.combos-distrito-opsite-localidade.js}"></script>
</th:block>
</html>