<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:vectorlink="http://vectorlink.abt.com">
	
<body>
<aside class="aw-layout-sidebar  js-sidebar" th:fragment="layout-sidebar">
	<div class="aw-layout-sidebar__content">

    	<nav class="aw-menu  js-menu">
      		<ul class="aw-menu__list">

        		<li class="aw-menu__item" xmlns:vectorlink:menu="@{/}">
          			<a th:href="@{/}"><i class="fa  fa-fw  fa-home"></i><span>Dashboard</span></a>
        		</li>
        		
        		<li class="aw-menu__item">
          			<a href="#">
            			<i class="fa  fa-fw  fa fa-cogs"></i><span>Configurações</span>
            			<i class="aw-menu__navigation-icon  fa"></i>
          			</a>
      
          			<ul class="aw-menu__list  aw-menu__list--sublist">
          			   			            
			            <li class="aw-menu__item  aw-menu__item--link" vectorlink:menu="@{/distritos.*}">
			            	<a th:href="@{/distritos}">Distritos</a>
			            </li>
			             <li class="aw-menu__item  aw-menu__item--link" vectorlink:menu="@{/opsites.*}">
			            	<a th:href="@{/opsites}">Bases Operacionais</a>
			            </li>
			             <li class="aw-menu__item  aw-menu__item--link" vectorlink:menu="@{/localidades.*}">
			            	<a th:href="@{/localidades}">Localidades</a>
			            </li>
			             <li class="aw-menu__item  aw-menu__item--link" vectorlink:menu="@{/bairros.*}">
			            	<a th:href="@{/bairros}">Bairros</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" vectorlink:menu="@{/totais_mobilizacao.*}">
			            	<a th:href="@{/totais_mobilizacao/novo}">Mobilizadores</a>
			            	<li class="aw-menu__item  aw-menu__item--link" vectorlink:menu="@{/assistenteIEC.*}">
			            	<a th:href="@{/assistenteIEC/novo}">Assistentes de IEC</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" vectorlink:menu="@{/roceadores.*}">
			            	<a th:href="@{/roceadores/novo}">Roceadores</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" vectorlink:menu="@{/teamLeaders.*}">
			            	<a th:href="@{/chefe_equipas}">Chefes de equipa</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" vectorlink:menu="@{/usuarios.*}">
			            	<a th:href="@{/usuarios/novo}">Usuarios</a>
			            </li>
			            
			        </ul>
			    </li>

        		<li class="aw-menu__item">
          			<a href="#">
            			<i class="fa fas fa-bullhorn"></i><span>Mobilização</span>
            			<i class="aw-menu__navigation-icon  fa"></i>
          			</a>
      
          			<ul class="aw-menu__list  aw-menu__list--sublist">
			            <li class="aw-menu__item  aw-menu__item--link" vectorlink:menu="@{/totais_pulverizacao/novo}">
			            	<a th:href="@{/entidades}">Totais</a>
			            </li>
			             <li class="aw-menu__item  aw-menu__item--link" vectorlink:menu="@{/detalhes_pulverizacao}">
			            	<a th:href="@{/entidade}">Detalhes</a>
			            </li>
			            
          			</ul>
        		</li>
        		<li class="aw-menu__item">
          			<a href="#">
            			<i class="fa fas fa-umbrella"></i><span>Pulverização</span>
            			<i class="aw-menu__navigation-icon  fa"></i>
          			</a>
      
          			<ul class="aw-menu__list  aw-menu__list--sublist">
          			    <li class="aw-menu__item  aw-menu__item--link" vectorlink:menu="@{/dashboard.*}">
			            	<a th:href="@{/dashboard}">Dashboard</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" vectorlink:menu="@{/totais_pulverizacao.*}">
			            	<a th:href="@{/totais_pulverizacao/novo}">Totais</a>
			            </li>
			             <li class="aw-menu__item  aw-menu__item--link" vectorlink:menu="@{/detalhes_pulverizacao.*}">
			            	<a th:href="@{/detalhes_pulverizacao/novo}">Detalhes</a>
			            </li>
			            
          			</ul>
        		</li>
        		
        		<li class="aw-menu__item">
          			<a href="#">
            			<i class="fa far fa-eye"></i><span>DOS</span>
            			<i class="aw-menu__navigation-icon  fa"></i>
          			</a>
      
          			<ul class="aw-menu__list  aw-menu__list--sublist">
			            <li class="aw-menu__item  aw-menu__item--link" vectorlink:menu="@{/entidades.*}">
			            	<a th:href="@{/entidades}">Totais</a>
			            </li>
			             <li class="aw-menu__item  aw-menu__item--link" vectorlink:menu="@{/entidades.*}">
			            	<a th:href="@{/entidades}">Detalhes</a>
			            </li>
			            
          			</ul>
        		</li>

        		
        		
        		<li class="aw-menu__item">
          			<a href="#">
            			<i class="fa  fa-fw  fa-file-pdf-o"></i><span>Relatórios</span>
            			<i class="aw-menu__navigation-icon  fa"></i>
          			</a>

          			<ul class="aw-menu__list  aw-menu__list--sublist">
			            <li class="aw-menu__item  aw-menu__item--link" vectorlink:menu="@{/relatorios.*}">
			            	<a th:href="@{/relatorios/vendasEmitidas}">Relatorios</a> 
			            </li>
          			</ul>
        		</li>
      		</ul>
    	</nav>
	</div>
</aside>
</body>
</html>