<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	xmlns:vectorlink="http://vectorlink.abt.com"
	layout:decorate="~{layout/LayoutPadrao}">

<head>
	<title>Cadastro de Bases operacionais</title>
</head>

<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-10">
					<h1>Cadastro de Bases operacionais</h1>
				</div>
			
				<div class="col-sm-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-success" th:href="@{/opsites}">
							<i class="glyphicon  glyphicon-search"></i> <span class="hidden-xs  hidden-sm">Pesquisa</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
	   <form method="POST" th:object="${operationalSite}" th:action="@{/opsites/novo}">
		  <vectorlink:message/>
		  <input type="hidden" th:field="*{id}"/>
		   
		   <div class="row">	
				
			    <div class="col-sm-4  form-group bw-required"  vectorlink:classforerror="district">
			      <label for="distrito" class="control-label" >Distrito</label>
			       <select id="distrito" class="form-control" th:field="*{district}">
			         <option value="">Selecione o distrito</option> 
			         <option th:each="distrito : ${districts}" th:value="${distrito.id}" th:text="${distrito.name}"></option>
			       </select> 
			    </div> 
			  </div>  
		  
			<div class="row">
				<div class="form-group  col-sm-12  bw-required" vectorlink:classforerror="name">
					<label for="name" class="control-label">Nome</label>
					<input type="text" class="form-control" id="name" autofocus="autofocus" th:field="*{name}"/>
				</div>				
				
			</div>
			<div class="row">
			  <div class="form-group  col-sm-2   bw-required" vectorlink:classforerror="target">
					<label for="target" class="control-label">Meta</label>
					<input id="target" type="text" class="form-control js-plain"  th:field="*{target}"/>
			</div>
			 
			</div>
	
			<button type="submit" class="btn  btn-primary">Salvar</button>				
		</form>
	</div>
</section>

<th:block layout:fragment="javascript-extra">
	<!-- <script th:src="@{/javascripts/vectorlink.js}"></script>  -->
</th:block>

</html>
