<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	xmlns:clinic="http://brewer.algaworks.com"
	layout:decorate="~{layout/LayoutPadrao}">

<head>
	<title>Dashboard</title>
</head>

<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<h1>Dashboard</h1>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4">
				<div class="aw-box">
					<div class="aw-box__icon">
						<i class="fa  fa-heartbeat  fa-3x"></i>
					</div>
					<div class="aw-box__value">1,239</div>
					<div class="aw-box__title">Supervisoes realizadas</div>
				</div>
			</div>
			
			<div class="col-sm-4">
				<div class="aw-box">
					<div class="aw-box__icon">
						<i class="fa fa-flag  fa-3x"></i>
					</div>
					<div class="aw-box__value">715</div>
					<div class="aw-box__title">Alertas Vermelhas</div>
				</div>
			</div>
			
			<div class="col-sm-4">
				<div class="aw-box">
					<div class="aw-box__icon">
						<i class="fa  fa-users  fa-3x"></i>
					</div>
					<div class="aw-box__value">97</div>
					<div class="aw-box__title">Total de supervisores</div>
				</div>
			</div>
		</div>
		
		
		<div class="row">
			<div class="col-sm-6">
				<div class="aw-graph-box">
					<div class="aw-graph-box__header">
						<h2 class="aw-graph-box__title">Item <small>Alertas Vermelhas</small></h2>
					</div>
					<div class="aw-graph-box__content">
						
						<div>
							<canvas id="graficoTotalAlertasVermelhas" height="160"></canvas>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-sm-6">
				<div class="aw-graph-box">
					<div class="aw-graph-box__header">
						<h2 class="aw-graph-box__title">Item <small>Numero de supervisoes</small></h2>
					</div>
					<div class="aw-graph-box__content">
						
						<div>
							<canvas id="graficoSupervisoes" height="160"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/vendors/Chart.min.js}"></script>
	<script>
	var ctx = document.getElementById("graficoTotalAlertasVermelhas").getContext('2d');
	var myChart = new Chart(ctx, {
	    type: 'bar',
	    data: {
	        labels: ["Mocuba", "Milange", "Maganja da Costa", "Derre", "Mopeia", "Morrumbala", "Molumbo"],
	        datasets: [{
	            label: '# Alertas vermelhas',
	            data: [120, 97, 115, 86, 75, 122,100],
	            backgroundColor: [
	                'rgba(26,179,148,0.5)',
	                'rgba(26,179,148,0.5)',
	                'rgba(26,179,148,0.5)',
	                'rgba(26,179,148,0.5)',
	                'rgba(26,179,148,0.5)',
	                'rgba(26,179,148,0.5)',
	                'rgba(26,179,148,0.5)'
	            ],
	
	            borderWidth: 1
	        }]
	    },
	    options: {
	        scales: {
	            yAxes: [{
	                ticks: {
	                    beginAtZero:true
	                }
	            }]
	        }
	    }
	});
	
	</script>
	<script>
	var ctx = document.getElementById("graficoSupervisoes").getContext('2d');
	var myChart = new Chart(ctx, {
	    type: 'bar',
	    data: {
	        labels: ["Mocuba", "Milange", "Maganja da Costa", "Derre", "Mopeia", "Morrumbala", "Molumbo"],
	        datasets: [{
	            label: '# de supervisoes realizadas',
	            data: [200, 280, 120, 80, 92, 270, 197],
	            backgroundColor: [
	                'rgba(26,179,148,0.5)',
	                'rgba(26,179,148,0.5)',
	                'rgba(26,179,148,0.5)',
	                'rgba(26,179,148,0.5)',
	                'rgba(26,179,148,0.5)',
	                'rgba(26,179,148,0.5)',
	                'rgba(26,179,148,0.5)'
	            ],
	
	            borderWidth: 1
	        }]
	    },
	    options: {
	        scales: {
	            yAxes: [{
	                ticks: {
	                    beginAtZero:true
	                }
	            }]
	        }
	    }
	});
	
	</script>
</th:block>

</html>
