<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	xmlns:brewer="http://brewer.algaworks.com">
	
<head>
	<title>Pesquisa de Chefes de equipas</title>
</head>

<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-10">
					<h1>Pesquisa de Chefes de equipas</h1>
				</div>
				
				<div class="col-sm-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-success" th:href="@{/chefe_equipas/novo}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Adicionar Novo</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="GET" th:object="${teamLeaderFilter}" th:action="@{/chefe_equipas}" autocomplete="off">
			<div class="row">
			
				<div class="form-group  col-sm-4">
					<label class="control-label" for="district">Distrito</label>
					<select id="district" class="form-control" th:field="*{district}">
	                    <option value="">Todos</option>
	                    <option th:each="distrito : ${districts}" th:text="${distrito.name}" th:value="${distrito.id}"></option>
	                </select>
				</div>
			
			    <div class="form-group  col-sm-4">
					<label class="control-label" for="codigo">Codigo do chefe de equipa</label>
					<input type="text" class="form-control" id="codigo" autofocus="autofocus" th:field="*{code}"/>
				</div>
			    
				<div class="form-group  col-sm-4">
					<label class="control-label" for="nome">Nome</label>
					<input type="text" class="form-control" id="nome" autofocus="autofocus" th:field="*{name}"/>
				</div>
	
			</div>	
			<button type="submit" class="btn  btn-primary">Pesquisar</button>
		</form>
		
		<div class="table-responsive  bw-tabela-simples">
			<table class="table  table-hover">
				<thead>
					<tr>
					    <th>Codigo</th>
						<th class="table-cervejas-col-estilo">Ditrito</th>
						<th>
							<th:block th:replace="fragments/Ordenacao :: order (${pagina}, 'name', 'Nome')"></th:block>
						</th>	
								
						<th class="table-col-acoes">Acções</th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="teamLeader : ${pagina.conteudo}">
						<td th:text="${teamLeader.teamLeaderCode}"></td>
						<td th:text="${teamLeader.district.name}"></td>
						<td th:text="${teamLeader.name}">1</td>
						
						<td>
							<!-- <a class="btn  btn-link  btn-xs js-tooltip" title="Editar"
							    th:href="@{/roceadores/{id}(id=${sprayOperator.id})}" > 
								<i class="glyphicon glyphicon-pencil"></i>
							</a> -->
							<!-- <a class="btn  btn-link  btn-xs js-tooltip js-exclusao-btn" title="Excluir" href="#"
							  data:url="@{/roceadores/{id}(id=${roceador.id})}"
							  data:objecto="${roceador.name}">
							    <i class="glyphicon glyphicon-remove"></i>
							</a> -->
						</td>
					</tr>
					<tr th:if="${pagina.vazia}">
						<td colspan="3">Nenhum Roceador encontrado encontrado</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="col-sm-12  text-center" th:if="${not pagina.vazia}">
			<nav>
				<ul class="pagination  pagination-sm" th:with="paginaAtual=${pagina.atual}">
					<li th:class="${pagina.primeira} ? disabled">
						<a th:href="${pagina.urlParaPagina(paginaAtual - 1)}" th:remove="${pagina.primeira} ? tag"><span>&laquo;</span></a>
					</li>
					<th:block th:each="p : ${#numbers.sequence(1, pagina.total)}" th:with="numeroPagina=${p - 1}">
						<li th:class="${paginaAtual == numeroPagina} ? active">
							<a th:href="${pagina.urlParaPagina(numeroPagina)}">[[${p}]]</a>
						</li>
					</th:block>
					
					<li th:class="${pagina.ultima} ? disabled">
						<a th:href="${pagina.urlParaPagina(paginaAtual + 1)}" th:remove="${pagina.ultima} ? tag"><span>&raquo;</span></a>
					</li>
				</ul>
			</nav>
		</div>
		
	</div>

</section>
</body>
</html>